folium
geopandas
ipywidgets
leafmap
matplotlib
numpy
openmeteo_requests
pandas
plotly
pyproj
pytest
pytz
reportlab
requests
requests_cache
retry_requests
rasterio
scipy
send2trash
shapely
streamlit
streamlit_folium
tqdm
xarray
netcdf4
kaleido